body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    background-color: #d6f0d7; /* Change this value to set the background color */
}

.container {
    text-align: center;
}

.center-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.text-below {
    font-size: 18px;
    color: #333;
}
